* {
  margin: 0;
  padding: 0;
}
header {
  display: inline;
}
header nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 70px;
  box-shadow: 0 0 20px rgb(177, 177, 177);
  padding: 0 20px 0 30px;
}

header nav .logo {
  width: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li:nth-last-child(1) {
  margin-right: 0;
}

header nav ul li:nth-child(1) {
  margin-left: 0;
}

header nav ul li a {
  border-radius: 20px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  display: inline-block;
}

header nav ul li.active a {
  background-color: #008080;
  color: white;
}

main .headline {
  width: 200px;
  background-color: teal;
  height: 7px;
  border-radius: 20px;
}

main .title {
  font-size: 30px;
  color: teal;
  font-weight: bold;
}

main #home {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
}

main #home div {
  width: 45%;
}

main #home .home-caption p {
  margin: 15px 0;
  line-height: 20px;
}

main #home .home-caption a {
  background-color: teal;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
}

main #about {
  padding: 100px 0;
  margin: auto;
  max-width: 700px;
  text-align: center;
}

main #about .headline {
  margin: auto;
  margin-bottom: 30px;
}

main #service {
  background-color: #fafafa;
  padding: 100px 0;
}

main #service .title {
  text-align: center;
}
main #service .headline {
  margin: auto;
  margin-bottom: 30px;
}

main .service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main #service .service-box {
  width: 25%;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
  border-radius: 20px;
}

main #service .service-box .service-box-image {
  width: 200px;
  margin: auto;
}

main #service .service-box .service-box-caption {
  padding: 20px 10px;
  text-align: center;
}

main #service .service-box .service-box-caption h3 {
  color: teal;
  margin-bottom: 10px;
}

main #teams {
  padding: 100px 0;
}

main #teams .title {
  text-align: center;
}

main #teams .headline {
  margin: auto;
  margin-bottom: 30px;
}

main #teams .teams-container {
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

main #teams .teams-container .teams-container-box {
  width: 25%;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
  border-radius: 20px;
}

main #teams .teams-container .teams-container-box .teams-container-box-image {
  width: 100px;
  margin: auto;
}

main #teams .teams-container .teams-container-box .teams-container-box-caption {
  text-align: center;
}

main
  #teams
  .teams-container
  .teams-container-box
  .teams-container-box-caption
  h3 {
  margin: 15px 0 5px 0;
}

main
  #teams
  .teams-container
  .teams-container-box
  .teams-container-box-caption
  p {
  font-size: 16px;
}

main #teams .teams-container .teams-container-box .teams-container-box-action {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

main
  #teams
  .teams-container
  .teams-container-box
  .teams-container-box-action
  .instagram {
  color: red;
  text-decoration: none;
}

main
  #teams
  .teams-container
  .teams-container-box
  .teams-container-box-action
  .linkedin {
  color: rgb(30, 30, 196);
  text-decoration: none;
}

main #comments {
  padding: 100px 0;
  background-color: #fafafa;
}

main #comments .title {
  text-align: center;
}

main #comments .headline {
  margin: auto;
  margin-bottom: 30px;
}

main #comments .container-comments {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: end;
}

main #comments .container-comments .result-comment {
  width: 35%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(165, 165, 165);
  overflow: auto;
  height: 263px;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

main #comments .container-comments .result-comment .result-comment-chat {
  background-color: #008080;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

main
  #comments
  .container-comments
  .result-comment
  .result-comment-chat
  .name-comment {
  text-align: right;
}

main #comments .container-comments .form-comment {
  width: 35%;
  background-color: white;
  box-shadow: 3px 3px 5px rgb(165, 165, 165);
  padding: 20px;
}

main #comments .container-comments .form-comment input,
main #comments .container-comments .form-comment textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgb(165, 165, 165);
}

main #comments .container-comments .form-comment input:focus,
main #comments .container-comments .form-comment textarea:focus {
  outline: none;
}

main #comments .container-comments .form-comment textarea {
  margin: 15px 0;
}

main #comments .container-comments .form-comment button {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: teal;
  color: white;
}

footer {
  color: white;
  background-color: teal;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .medsos {
  display: flex;
  gap: 5px;
}

footer .medsos a {
  height: 25px;
  width: 25px;
  background-color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.color-red {
  color: red;
}

.color-light-blue {
  color: rgb(43, 158, 197);
}

.color-blue {
  color: blue;
}
